body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .expense-tracker {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .expense-tracker h1 {
    margin-top: 0;
    font-size: 24px;
  }

  .expense-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .expense-form input[type="text"],
  .expense-form input[type="number"],
  .expense-form button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .expense-form button{
      background-color:rgb(61, 61, 215);
      color: #f0f0f0;
     
  }
  .expenses-list {
    margin-top: 10px;
  }
  .expenses-list ul {
    list-style-type: none;
    padding: 0;
  }

  .expenses-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }

  .expenses-list button{
    padding: 4px 8px;
    background-color: #ff5050;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .expenses-list button:hover {
    background-color: #e60000;
  }
  @media (min-width:360px) and (max-width:850px) {
    .expense-tracker{
        width: 100%;
    }
    .expense-form button {
      padding: 8px;
      font-size: 14px;
  }
}
  